In [2]:
import pandas as pd

In [3]:
dictionary = { 'name': ['Hazel', 'Ali'],
'age':[38,5],
'occ': ['Data Scientist','Engineer']}

df = pd.DataFrame(dictionary)
df

    name  age             occ
0  Hazel   38  Data Scientist
1    Ali    5        Engineer

In [4]:
lists=[['Hazel', 38, 'DS'],
['Ali',5,'Engineer']]

df1 = pd.DataFrame(lists, columns=['name','age','occ'])
df1

    name  age       occ
0  Hazel   38        DS
1    Ali    5  Engineer

In [5]:
import os
os.getcwd()

'c:\\Users\\herturk\\OneDrive - Managed Network Solutions Inc\\Desktop'

In [6]:
os.chdir('c:\\Users\\herturk\\OneDrive - Managed Network Solutions Inc\\Desktop\\Training')
df2= pd.read_csv('winequality-red.csv')
df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
df3 = df2.set_index('pH')
df3.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
pH,,,,,,,,,,,
3.51,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.56,9.4,5
3.20,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,0.68,9.8,5
3.26,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,0.65,9.8,5
3.16,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,0.58,9.8,6
3.51,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,0.56,9.4,5

In [8]:
df4 = df3.sort_index()
df4.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
pH,,,,,,,,,,,
2.74,9.2,0.520,1.00,3.4,0.610,32.0,69.0,0.99960,2.00,9.4,4
2.86,14.3,0.310,0.74,1.8,0.075,6.0,15.0,1.00080,0.79,8.4,6
2.87,9.2,0.755,0.18,2.2,0.148,10.0,103.0,0.99690,1.36,10.2,6
2.88,12.6,0.310,0.72,2.2,0.072,6.0,29.0,0.99870,0.82,9.8,8
2.88,10.0,0.690,0.11,1.4,0.084,8.0,24.0,0.99578,0.47,9.7,5

In [9]:
df5 = df4.sort_values(by=['alcohol','density'])
df5.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
pH,,,,,,,,,,,
3.16,10.4,0.61,0.49,2.1,0.200,5.0,16.0,0.99940,0.63,8.4,3
2.86,14.3,0.31,0.74,1.8,0.075,6.0,15.0,1.00080,0.79,8.4,6
3.15,10.0,0.38,0.38,1.6,0.169,27.0,90.0,0.99914,0.65,8.5,5
3.32,7.9,0.24,0.40,1.6,0.056,11.0,25.0,0.99670,0.87,8.7,6
3.34,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,0.75,8.7,6

In [10]:
df6 = df4.reset_index()
df6.head(3)

,pH,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
0,2.74,9.2,0.520,1.00,3.4,0.610,32.0,69.0,0.9996,2.00,9.4,4
1,2.86,14.3,0.310,0.74,1.8,0.075,6.0,15.0,1.0008,0.79,8.4,6
2,2.87,9.2,0.755,0.18,2.2,0.148,10.0,103.0,0.9969,1.36,10.2,6

In [11]:
x = df6['quality']
print(x, end='')

0       4
1       6
2       6
3       8
4       5
       ..
1594    6
1595    4
1596    6
1597    6
1598    6
Name: quality, Length: 1599, dtype: int64

In [12]:
df6.iloc[:, 11]

0       4
1       6
2       6
3       8
4       5
       ..
1594    6
1595    4
1596    6
1597    6
1598    6
Name: quality, Length: 1599, dtype: int64

In [13]:
df6.loc[:,'quality']

0       4
1       6
2       6
3       8
4       5
       ..
1594    6
1595    4
1596    6
1597    6
1598    6
Name: quality, Length: 1599, dtype: int64

In [14]:
df6.iloc[[0,1],:]

,pH,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
0,2.74,9.2,0.52,1.00,3.4,0.610,32.0,69.0,0.9996,2.00,9.4,4
1,2.86,14.3,0.31,0.74,1.8,0.075,6.0,15.0,1.0008,0.79,8.4,6

In [15]:
df7 = df5.loc[df5.quality>7]
df7.head(7)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
pH,,,,,,,,,,,
2.88,12.6,0.31,0.72,2.2,0.072,6.0,29.0,0.99870,0.82,9.8,8
3.23,7.2,0.33,0.33,1.7,0.061,3.0,13.0,0.99600,1.10,10.0,8
3.15,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,0.65,11.0,8
3.15,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,0.65,11.0,8
3.23,7.2,0.38,0.31,2.0,0.056,15.0,29.0,0.99472,0.76,11.3,8
3.24,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,0.70,11.4,8
3.35,8.6,0.42,0.39,1.8,0.068,6.0,12.0,0.99516,0.69,11.7,8

In [16]:
df5.groupby('total sulfur dioxide')['quality'].mean()

total sulfur dioxide
6.0      5.333333
7.0      5.500000
8.0      5.714286
9.0      5.571429
10.0     6.370370
           ...
155.0    5.000000
160.0    6.000000
165.0    6.000000
278.0    7.000000
289.0    7.000000
Name: quality, Length: 144, dtype: float64

In [17]:
df5.fillna(0)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
pH,,,,,,,,,,,
3.16,10.4,0.61,0.49,2.1,0.200,5.0,16.0,0.99940,0.63,8.4,3
2.86,14.3,0.31,0.74,1.8,0.075,6.0,15.0,1.00080,0.79,8.4,6
3.15,10.0,0.38,0.38,1.6,0.169,27.0,90.0,0.99914,0.65,8.5,5
3.32,7.9,0.24,0.40,1.6,0.056,11.0,25.0,0.99670,0.87,8.7,6
3.34,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,0.75,8.7,6
...,...,...,...,...,...,...,...,...,...,...,...
3.68,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,0.79,14.0,6
3.68,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,0.79,14.0,6
3.72,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,0.74,14.0,8
3.32,8.8,0.46,0.45,2.6,0.065,7.0,18.0,0.99470,0.79,14.0,6
2.98,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,0.84,14.9,5

In [18]:
df8 = df4.isnull().count()
df8

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

In [19]:
df5['quality'] = df5['quality'].apply(lambda x:x>5)
df5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,sulphates,alcohol,quality
pH,,,,,,,,,,,
3.16,10.4,0.61,0.49,2.1,0.200,5.0,16.0,0.99940,0.63,8.4,False
2.86,14.3,0.31,0.74,1.8,0.075,6.0,15.0,1.00080,0.79,8.4,True
3.15,10.0,0.38,0.38,1.6,0.169,27.0,90.0,0.99914,0.65,8.5,False
3.32,7.9,0.24,0.40,1.6,0.056,11.0,25.0,0.99670,0.87,8.7,True
3.34,8.2,0.42,0.49,2.6,0.084,32.0,55.0,0.99880,0.75,8.7,True
...,...,...,...,...,...,...,...,...,...,...,...
3.68,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,0.79,14.0,True
3.68,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,0.79,14.0,True
3.72,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,0.74,14.0,True
3.32,8.8,0.46,0.45,2.6,0.065,7.0,18.0,0.99470,0.79,14.0,True
2.98,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,0.84,14.9,False

In [21]:
df9 = pd.merge(df3, df5, how='inner', on = 'alcohol')
df9

,fixed acidity_x,volatile acidity_x,citric acid_x,residual sugar_x,chlorides_x,free sulfur dioxide_x,total sulfur dioxide_x,density_x,sulphates_x,alcohol,...,fixed acidity_y,volatile acidity_y,citric acid_y,residual sugar_y,chlorides_y,free sulfur dioxide_y,total sulfur dioxide_y,density_y,sulphates_y,quality_y
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.400000,...,6.3,0.390,0.08,1.7,0.066,3.0,20.0,0.99540,0.58,False
1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.400000,...,6.6,0.500,0.04,2.1,0.068,6.0,14.0,0.99550,0.64,True
2,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.400000,...,6.1,0.380,0.15,1.8,0.072,6.0,19.0,0.99550,0.57,False
3,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.400000,...,6.5,0.400,0.10,2.0,0.076,30.0,47.0,0.99554,0.48,True
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,0.56,9.400000,...,6.6,0.520,0.04,2.2,0.069,8.0,15.0,0.99560,0.63,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89256,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,0.63,9.950000,...,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,0.63,False
89257,6.9,0.840,0.21,4.1,0.074,16.0,65.0,0.99842,0.72,9.233333,...,6.9,0.840,0.21,4.1,0.074,16.0,65.0,0.99842,0.72,True
89258,6.9,0.840,0.21,4.1,0.074,16.0,65.0,0.99842,0.72,9.250000,...,6.9,0.840,0.21,4.1,0.074,16.0,65.0,0.99842,0.72,True
89259,6.9,0.480,0.20,1.9,0.082,9.0,23.0,0.99585,0.43,9.050000,...,6.9,0.480,0.20,1.9,0.082,9.0,23.0,0.99585,0.43,False
89260,6.7,0.855,0.02,1.9,0.064,29.0,38.0,0.99472,0.56,10.750000,...,6.7,0.855,0.02,1.9,0.064,29.0,38.0,0.99472,0.56,True

In [22]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89261 entries, 0 to 89260
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fixed acidity_x         89261 non-null  float64
 1   volatile acidity_x      89261 non-null  float64
 2   citric acid_x           89261 non-null  float64
 3   residual sugar_x        89261 non-null  float64
 4   chlorides_x             89261 non-null  float64
 5   free sulfur dioxide_x   89261 non-null  float64
 6   total sulfur dioxide_x  89261 non-null  float64
 7   density_x               89261 non-null  float64
 8   sulphates_x             89261 non-null  float64
 9   alcohol                 89261 non-null  float64
 10  quality_x               89261 non-null  int64
 11  fixed acidity_y         89261 non-null  float64
 12  volatile acidity_y      89261 non-null  float64
 13  citric acid_y           89261 non-null  float64
 14  residual sugar_y        89261 non-null  float64
 15  chlorides_y             89261 non-null  float64
 16  free sulfur dioxide_y   89261 non-null  float64
 17  total sulfur dioxide_y  89261 non-null  float64
 18  density_y               89261 non-null  float64
 19  sulphates_y             89261 non-null  float64
 20  quality_y               89261 non-null  bool
dtypes: bool(1), float64(19), int64(1)
memory usage: 14.4 MB

In [23]:
df9.describe()

,fixed acidity_x,volatile acidity_x,citric acid_x,residual sugar_x,chlorides_x,free sulfur dioxide_x,total sulfur dioxide_x,density_x,sulphates_x,alcohol,quality_x,fixed acidity_y,volatile acidity_y,citric acid_y,residual sugar_y,chlorides_y,free sulfur dioxide_y,total sulfur dioxide_y,density_y,sulphates_y
count,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000,89261.000000
mean,8.309297,0.540431,0.257798,2.470125,0.090843,16.167761,50.670416,0.997069,0.647485,9.993265,5.468122,8.309297,0.540431,0.257798,2.470125,0.090843,16.167761,50.670416,0.997069,0.647485
std,1.600238,0.172497,0.186570,1.287618,0.051876,10.503501,34.273512,0.001574,0.180089,0.769017,0.716195,1.600238,0.172497,0.186570,1.287618,0.051876,10.503501,34.273512,0.001574,0.180089
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,0.330000,8.400000,3.000000,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,0.330000
25%,7.200000,0.410000,0.100000,1.900000,0.073000,8.000000,24.000000,0.996120,0.540000,9.500000,5.000000,7.200000,0.410000,0.100000,1.900000,0.073000,8.000000,24.000000,0.996120,0.540000
50%,7.900000,0.540000,0.240000,2.200000,0.080000,14.000000,42.000000,0.996940,0.600000,9.700000,5.000000,7.900000,0.540000,0.240000,2.200000,0.080000,14.000000,42.000000,0.996940,0.600000
75%,9.100000,0.640000,0.400000,2.600000,0.091000,21.000000,69.000000,0.998000,0.700000,10.500000,6.000000,9.100000,0.640000,0.400000,2.600000,0.091000,21.000000,69.000000,0.998000,0.700000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,2.000000,14.900000,8.000000,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,2.000000